#edit_parent div.handlediv,
#dit_parent .inside {
	display: none;
}

#edit_parent h3.hndle {
	cursor: pointer;
}

#edit_parent h3.hndle a {
	display: block;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
