body {
	font-family: 'Times', serif;
	font-size: 16px;
	color: #383838;
}

h1, h2, h3, h4 {
	font-family: Quattrocento;
	font-weight: normal;
	color: #bd1e35;
}

h1 {
	font-size: 33px;
	letter-spacing: 2px;
	color: #393939;
	text-transform: uppercase;
}

h3 {
	font-family: Times;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}

p {
	line-height: 26px;
}

h2,
h3,
h4 {
	margin-bottom: 10px;
}

p + h2,
p + h3,
p + h4,
p + form,
ul + h2,
ul + h3,
ul + h4,
ol + h2,
ol + h3,
ol + h4 {
	margin-top: 30px;
}

ol,
ul {
	margin-left: 40px;
}

p + ol,
p + ul,
ol + p,
ul + p {
	margin-top: 15px;
}

h2 + ol,
h2 + ul,
h3 + ol,
h3 + ul,
h4 + ol,
h4 + ul {
	margin-top: 5px;
}

a {
	outline: none;
	color: #bb1e34;
}
