#slides_container {
	padding-bottom: 60px;
}

#slides a {
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
}

#slides_container .orbit-wrapper {
	text-align: center;
}

#slides_container .orbit-bullets {
	position: static;
	left: auto;
	display: inline-block;
	margin-top: 35px;
}

#slides_container .orbit-bullets li {
	width: 9px;
	height: 8px;
	padding-top: 8px;
		height: 0;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(images/home_slide_bullet.png);
}

#slides_container .orbit-bullets li + li {
	margin-left: 15px;
}

#slides_container .orbit-bullets li.active {
	background-image: url(images/home_slide_bullet_2.png);
}

#content {
	width: 940px;
	padding-bottom: 30px;
	background-image: url(images/bg_sep.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

img.attachment-slide + #content {
	margin-top: 60px;
}

#content div.page .entry {
	width: 880px;
	margin-left: 30px;
}

#content .page div.title {
	background-position: left 60%;
}

#content .page div.title span,
body div#sponsors div.title span {
	padding: 0 15px;
	font-family: Times;
	font-style: italic;
	color: #393939;
	font-size: 29px;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
}

#content .page .title + .entry > h1 {
	margin-bottom: 25px;
}

#content .page .title + .entry > h1 > em {
	text-transform: none;
}

#mods {
	float: left;
	display: inline;
	width: 100%;
	margin-top: 30px;
}

#mods > .mod {
	position: relative;
	float: left;
	display: inline;
	width: 286px;
	min-height: 446px;
	padding: 15px 38px;
		width: 210px;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	background-image: url(images/bg_sidebar_widget.png);
	background-repeat: repeat;
}

#mods > .mod + .mod {
	margin-left: 37px;
}

#mods > .mod > h3.title {
	display: block;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-style: normal;
	font-family: Lato;
}

#mods > .mod > h3.title.image {
	text-indent: -9999px;
	overflow: hidden;
}

#mods > .mod > .entry {
	margin-top: 20px;
	padding-bottom: 20px;
	
	font-size: 13px;
}

#mods > .mod .btn {
	position: absolute;
	left: 50%;
	bottom: -18px;
	margin-left: -67px;
}




div#sponsors {
	float: left;
	display: inline;
	width: 100%;
	clear: both;
	margin-top: 80px;
}

div#sponsors div.title {
	display: block;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	background-image: url(images/bg_sep.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}

div#sponsors ul {
	margin-top: 40px;
	list-style: none;
}

div#sponsors ul > li {
	display: inline-block;
	padding: 20px;
		width: 110px;
		height: 110px;
	background-color: #FFF;
	-moz-box-shadow: 2px 2px 4px 0 #666;
	-webkit-box-shadow: 2px 2px 4px 0 #666;
	box-shadow: 2px 2px 4px 0 #666;
}

div#sponsors ul > li + li {
	margin-left: 8px;
}

div#sponsors ul > li > img {
	width: 110px;
	height: auto;
	max-height: 110px;
}
