html,
body.login {
	background-image: url(images/bg_login.png);
	background-repeat: repeat;
	background-color: transparent;
}

#login h1 a {
	width: 273px;
	height: 89px;
	margin-left: 23px;
	background-image: url(images/logo_icrc.png);
	background-size: auto;
}

#loginform {
	margin-top: 10px;
	border: none;
	border-top: 1px dotted #CCC;
	padding-bottom: 56px;
	border-bottom: 1px dotted #CCC;
	box-shadow: none;
	background-color: transparent;
}

#login p.forgetmenot label {
	line-height: 29px;
}

#login input[type=submit] {
	width: 135px;
	height: 34px;
	padding: 0;
	background-image: url(images/bg_btn.png);
	background-color: transparent;
	border: none;
	line-height: 34px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-family: Times;
	font-style: italic;
	font-size: 19px;
	text-transform: lowercase;

}

body.login #login #nav {
	margin-top: 10px;
}

.login #login #nav a,
.login #login #backtoblog a {
	color: #2C2C2C !important;
}

.login #login #nav a:hover,
.login #login #backtoblog a:hover {
	color: #9BC866 !important;
}
