/*
Theme Name: ICRC 2013 Conference
Theme URI: 
Description: 
Version: 1.0
Author: BrandCo
Author URI: http://www.brandco.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: icrc-2013-conference
*/


* {
	margin: 0;
	padding: 0;
	outline: none;
	background-repeat: no-repeat;
	background-position: left top;
}

html {
	background-image: url(images/bg_html.png);
	background-repeat: repeat;
	background-color: #FFF;
}

body {
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	font-family: 'Times', serif;
	font-size: 16px;
	color: #383838;
}

h1, h2, h3, h4 {
	font-family: Quattrocento;
	font-weight: normal;
	color: #bd1e35;
}

h1 {
	color: #393939;
	font-size: 33px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3 {
	font-family: Times;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	color: #bd1e35;
}

p + p {
	margin-top: 15px;
}

a {
	outline: none;
	color: #bb1e34;
}

img {
	border: none;
}

input[name=realistic] {
	position: absolute;
	display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	border: none;
	background-color: transparent;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
	padding: 6px;
	border: none;
	outline: none;
	background-color: #DEDDDC;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	font-family: sans-serif;
}

input.error { outline: 1px solid red; }

#sidebar .widget .btn, #sidebar .widget input[type=button], #sidebar .widget input[type=submit] {
	width: 135px !important;
}

.btn,
input[type=button],
input[type=submit] {
	width: 135px;
	line-height: 34px;
	border: none;
	background-color: transparent;
	background-image: url(images/bg_btn.png);
	font-family: Times;
	font-style: italic;
	font-size: 19px;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	color: #FFF;
}

label {
	font-family: Arial, sans-serif;
	color: #383838;
	cursor: text;
}

label.focus { color: #666; }

label.error {
	position: absolute;
	display: none;
	width: 0;
	left: 0;
	visibility: hidden;
}

form ul {
	list-style: none;
}

form li {
	position: relative;
}

form li label {
	position: absolute;
	left: 10px;
	top: 7px;
}

hr {
	display: block;
	margin: 30px 0;
	border: none;
	background-color: transparent;
	border-top: 1px solid #C2C1BF;
	border-bottom: 1px solid #F6F5F5;
}




.alignleft {
	float: left;
	display: inline;
}

	img.alignleft {
		margin: 15px 15px 15px 0;
	}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

	img.aligncenter {
		margin-top: 15px;
		margin-bottom: 15px;
	}

.alignright {
	float: right;
	display: inline;
}

	img.alignright {
		margin: 15px 0 15px 15px;
	}

img.ptop { margin-top: 0; }




.gform_wrapper ul {
	margin-left: 0 !important;
}

.gform_wrapper ul li {
	margin-bottom: 15px;
}

.gform_validation_container {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	visibility: hidden;
}

.ui-datepicker-div,
.ui-datepicker-inline,
#ui-datepicker-div {/*resets*/margin:0; padding:0; border:0; outline:0; line-height:1.3; text-decoration:none; font-size:1em; list-style:none; font-family:"lucida sans", "lucida grande", lucida , sans-serif; background:#fff; font-size:1em; border:4px solid #C1C1C1; width:15.5em; padding:2.5em .5em .5em .5em; position:relative}
.ui-datepicker-div,
#ui-datepicker-div {z-index:9999; display:none} /*must have*/
.ui-datepicker-inline {float:left; display:block}
.ui-datepicker-control {display:none}
.ui-datepicker-current {display:none}
.ui-datepicker-next,
.ui-datepicker-prev {position:absolute; left:.5em; top:.5em; background:#eee}
.ui-datepicker-next {left:14.6em}
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {background:#dadada}
.ui-datepicker-next a,
.ui-datepicker-prev a {text-indent:-999999px; width:1.3em; height:1.4em; display:block; font-size:1em; background:url(../images/datepicker_arrow_left.gif) 50% 50% no-repeat; border:1px solid #d3d3d3; cursor:pointer}
.ui-datepicker-header select {border:1px solid #d3d3d3; color:#555; background:#e6e6e6; font-size:1em; line-height:1.4em; position:absolute; top:.5em; margin:0!important}
.ui-datepicker-header option:focus,
.ui-datepicker-header option:hover {background:#dadada}
.ui-datepicker-header select.ui-datepicker-new-month {width:7em; left:2.2em; padding: 0;}
.ui-datepicker-header select.ui-datepicker-new-year {width:5em; left:9.4em; padding: 0;}
table.ui-datepicker {width:15.5em; text-align:right}
table.ui-datepicker td a {padding:.1em; display:block; color:#555; background:#e6e6e6; cursor:pointer; border:1px solid #fff; text-align:center}
table.ui-datepicker td a:hover {border:1px solid #fff; color:#FFF; background:#870652; text-decoration: none}
table.ui-datepicker td a:active {border:1px solid #aaa; color:#212121; background:#fff; text-decoration: none}
table.ui-datepicker .ui-datepicker-title-row td {padding:.2em 0; text-align:center; font-size:.9em; color:#222; text-transform:uppercase}
table.ui-datepicker .ui-datepicker-title-row td a {color:#222; padding:.3em 0}
.ui-datepicker-cover {display:none; display/**/:block; position:absolute; z-index:-1; filter:mask(); top:-4px; left:-4px; width:193px; height:200px}
img.ui-datepicker-trigger {display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; cursor: pointer; vertical-align: top; width:17px}
.gform_wrapper input.datepicker.datepicker_with_icon {display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; margin-right:4px!important}




/* custom <select> styling

form .select {
	position: relative;
	float: left;
	display: inline;
	clear: left;
	width: 138px;
	height: 39px;
	overflow: hidden;
	background-image: url(images/sprites.png);
}

form .select select {
	background: transparent;
	border: none;
	width: 155px;
	padding-left: 10px;
	height: 39px;
	color: #999;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

@-moz-document url-prefix() {
    form select {
		padding-top: 10px;
	}
}

*/

form.contact.two_cols ul.gform_fields > li {
	display: inline-block;
	width: 305px;
}

form.contact.two_cols ul.gform_fields > li:nth-child(even) {
	margin-left: 10px;
}

form.contact.two_cols input[type=text],
form.contact.two_cols input[type=tel],
form.contact.two_cols input[type=email],
form.contact.two_cols input[type=number] {
	width: 295px;
}

form.contact.two_cols li.textarea,
form.contact.two_cols li.textarea textarea {
	width: 610px;
}

form.two_cols li.radios div,
form.two_cols li.radios ul,
form.two_cols li.radios li {
	display: inline-block;
	margin-left: 10px;
}

form.two_cols li.radios div {
	margin-left: 0;
}

form.two_cols li.radios input {
	display: none;
}

form.two_cols li.radios label {
	position: static;
	display: inline-block;
	cursor: default;
}

form.two_cols li.radios li label {
	padding-left: 20px;
	background-image: url(images/radio.png);
}

form.two_cols li.radios label.checked {
	background-image: url(images/radio_2.png);
}

form.contact input[type=submit] {
	float: right;
}




.container {
	display: block;
	width: 940px;
	margin: 0 auto;
}

#header,
#nav,
#torso,
#footer {
	float: left;
	display: inline;
	width: 100%;
}

#header {
	height: 137px;
	background-image: url(images/bg_header.png);
	background-repeat: repeat;
}

#logo {
	float: left;
	display: inline;
	width: 386px;
	height: 87px;
	margin-top: 23px;
	padding-top: 87px;
		height: 0;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(images/logo.png);
}

	#logo {
		width: 215px;
		margin-top: 8px;
		padding-top: 113px;
		background-image: url(images/logo_icrc.png);
	}

#social,
#footer_social {
	float: right;
	display: inline;
	margin-top: 26px;
	list-style: none;
}

#social > li,
#social > li > a,
#footer_social > li,
#footer_social > li > a {
	float: left;
	display: inline;
	width: 22px;
	height: 22px;
	background-image: url(images/social_fb.png);
}

#social > li + li,
#footer_social > li + li {
	margin-left: 15px;
}

#social > li > a,
#footer_social > li > a {
	padding-top: 22px;
		height: 0;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(images/social_fb_2.png);

	display: none;
}

#social li.tw, #footer_social li.tw { background-image: url(images/social_tw.png); }
#social li.tw a, #footer_social li.tw a { background-image: url(images/social_tw_2.png); }

#social li.in, #footer_social li.in { background-image: url(images/social_in.png); }
#social li.in a, #footer_social li.in a { background-image: url(images/social_in_2.png); }

#social li.yt, #footer_social li.yt { background-image: url(images/social_yt.png); }
#social li.yt a, #footer_social li.yt a { background-image: url(images/social_yt_2.png); }

#social li.rss, #footer_social li.rss { background-image: url(images/social_rss.png); }
#social li.rss a, #footer_social li.rss a { background-image: url(images/social_rss_2.png); }

#email,
#footer_email {
	float: right;
	display: inline;
	clear: right;
	margin-top: 15px;
	font-style: italic;
	color: #c72039;
	font-size: 20px;
}

#nav {
	height: 82px;
	background-image: url(images/bg_nav.png);
	background-repeat: repeat-x;
	text-align: center;
}

#nav ul {
	list-style: none;
}

#nav ul.menu {
	margin-top: 28px;
}

#nav ul.menu > li {
	position: relative;
	display: inline-block;
}

#nav ul.menu > li + li {
	margin-left: 16px;
	border-left: 2px solid #FFF;
	padding-left: 16px;
}

#nav ul.menu > li > a {
	text-transform: uppercase;
	font-family: Quattrocento;
	line-height: 15px;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
}

#nav ul.sub-menu {
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 9999;
	min-width: 100%;
	padding: 0 20px;
	background-color: #403F3D;

	display: none;
}

#nav ul.sub-menu > li {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #B7B7B5;
}

#nav ul.sub-menu > li + li {
	border-top: 2px solid #2C2B2A;
}

#nav ul.sub-menu > li:last-child {
	border-bottom: none;
}

#nav ul.sub-menu > li > a {
	white-space: nowrap;
	text-decoration: none;
	font-style: italic;
	font-size: 19px;
	color: #f6c819;
}

#torso {
	min-height: 300px;
	padding: 50px 0 100px;
}

#content {
	float: left;
	display: inline;
	width: 620px;
}

body .post,
body .page,
.entry {
	float: left;
	display: inline;
	width: 100%;
}

body.archive .post .entry,
body.blog .post .entry,
body.search .post .entry {
	margin-top: 10px;
}

body.archive .post .entry > img,
body.blog .post .entry > img,
body.search .post .entry > img {
	box-shadow: 0 3px 10px 1px #666;
	-webkit-box-shadow: 0 3px 10px 1px #666;
	-moz-box-shadow: 0 3px 10px 1px #666;
}

.post + .post {
	margin-top: 30px;
	background-image: url(images/bg_sep.png);
	background-repeat: repeat-x;
	padding-top: 30px;
}

div.page div.title,
body.archive div.pagetitle,
body.blog div.pagetitle,
body.single div.pagetitle {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	background-image: url(images/bg_sep.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}

div.page div.title h1,
body.archive div.pagetitle h2,
body.blog div.pagetitle h2,
body.single div.pagetitle h2 {
	display: inline-block;
	padding: 0 10px;
	background-image: url(images/bg_body.png);
	background-repeat: repeat;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #FFF;
	font-size: 33px;
}

body.archive div.pagetitle h2 {
	font-size: 25px;
}

img.attachment-content,
.entry img {
	margin-left: 5px;
	box-shadow: 0 3px 10px 1px #666;
	-webkit-box-shadow: 0 3px 10px 1px #666;
	-moz-box-shadow: 0 3px 10px 1px #666;
}

div.post h1 {
	margin-top: 30px;
	margin-bottom: 10px;
	text-transform: none;
}

img.attachment-content + .entry,
a + .entry {
	margin-top: 30px;
	background-image: url(images/bg_sep.png);
	background-repeat: repeat-x;
	padding-top: 32px;
}

.entry {
	line-height: 26px;
}

.entry h2,
.entry h3,
.entry h4 {
	margin-bottom: 10px;
}

.entry p + h2,
.entry p + h3,
.entry p + h4,
.entry p + form,
.entry ul + h2,
.entry ul + h3,
.entry ul + h4,
.entry ol + h2,
.entry ol + h3,
.entry ol + h4 {
	margin-top: 30px;
}

.entry ol,
.entry ul {
	margin-left: 40px;
}

.entry p + ol,
.entry p + ul,
.entry ol + p,
.entry ul + p {
	margin-top: 15px;
}

.entry h2 + ol,
.entry h2 + ul,
.entry h3 + ol,
.entry h3 + ul,
.entry h4 + ol,
.entry h4 + ul {
	margin-top: 5px;
}

.postmetadata {
	display: block;
	clear: left;
	margin-top: 30px;
	font-size: 13px;
	line-height: 17px;
}

#comments_container {
	float: left;
	display: inline;
	width: 100%;
	margin-top: 40px;
}

h3#comments {
	font-size: 20px;
}

ol.commentlist {
	list-style: none;
}

ol.commentlist li {
	padding: 10px;
}

ol.commentlist li:nth-child(even) {
	background-color: #EEE;
}

ol.commentlist .comment-author {
	line-height: normal;
}

ol.commentlist img.avatar {
	float: right;
}

ol.commentlist .commentmetadata {
	margin: 0;
	font-size: 11px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

ol.commentlist .commentmetadata a {
	color: #999;
}

#respond {
	float: left;
	display: inline;
	width: 100%;
}

#respond h3 {
	font-size: 20px;
}

.navigation + #respond {
	margin-top: 40px;
}

#comments_container input[type=text],
#comments_container textarea {
	padding: 3px;
	border: 1px solid #999;
	font-family: sans-serif;
}

#comments_container textarea {
	width: 612px;
}

#comments_container input[type=submit] {
	width: auto;
	padding: 0 10px;
	background-image: none;
	background-color: #BE1E35;
}

#sidebar {
	float: left;
	display: inline;
	width: 262px;
	margin: 0 0 0 58px;
	min-height: 150px;
}

#sidebar .widget {
	position: relative;
	float: left;
	display: inline;
	width: 260px;
	padding: 15px 25px 16px;
		width: 210px;
	background-image: url(images/bg_sidebar_widget.png);
	background-repeat: repeat;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}

#sidebar .widget + .widget {
	margin-top: 50px;
}

#sidebar .widget .entry,
#sidebar .gform_description {
	font-family: 'Times', serif;
	font-size: 15px;
	color: #383838;
	line-height: 22px;
}

#sidebar .widget .btn,
#sidebar .widget input[type=button],
#sidebar .widget input[type=submit] {
	position: absolute;
	left: 50%;
	margin-left: -67px;
}

#sidebar .widget.gform_widget {
	position: relative;
}

#sidebar .widget h4.widgettitle {
	display: block;
	padding: 0 0 15px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #BF2A3D;
}

#sidebar .builtin.widget ol,
#sidebar .builtin.widget ul {
	margin-left: 25px;
}

#sidebar .gform_wrapper {
	font-size: 13px;
}

#sidebar .validation_error {
	color: #FF0000;
}

#sidebar .gform_body {
	margin-top: 15px;
}

#sidebar .gform_body li.gfield_error input {
	outline: 1px solid #FF0000;
}

#sidebar .gform_body label {
}

#sidebar .gform_body input,
#sidebar .gform_body textarea {
	width: 200px;
}

#sidebar .validation_message {
	text-transform: uppercase;
	font-size: 12px;
}

#sidebar .gform_footer {
	text-align: center;
}

#sidebar .widget a.btn,
#sidebar .widget.gform_widget .gform_footer input {
	position: absolute;
}

#sidebar #qconnect ul {
	list-style: none;
}

#sidebar #qconnect li {
	float: left;
	display: inline;
	position: relative;
}

#sidebar #qconnect li + li {
	margin-top: 6px;
}

#sidebar #qconnect input[type=text],
#sidebar #qconnect input[type=tel],
#sidebar #qconnect input[type=email],
#sidebar #qconnect textarea {
	float: left;
	display: inline;
	padding: 7px 3px;
		width: 100%;
		max-width: 100%;
}

#sidebar #qconnect textarea {
	height: 80px;
}

#sidebar #qconnect input[type=submit] {
	float: right;
	display: inline;
}

#sidebar .widget.builtin.widget_search {
	position: relative;
	text-align: center;
	padding-bottom: 30px;
}

#sidebar #searchform label {
	position: absolute;
	left: 40px;
	top: 20px;
}

#sidebar #searchform input[type=text] {
	width: 194px;
}

#sidebar #searchform input[type=submit] {
	position: absolute;
	left: 50%;
	bottom: -17px;
	margin-left: -67px;
}

#sidebar #register.widget {
	position: relative;
}

#sidebar #register.widget h4.widgettitle {
	padding-top: 68px;
		height: 0;
	text-indent: -9999px;
	background-image: url(images/sidebar_header_register.png);
}

#sidebar #register.widget .entry {
	text-align: center;
}

#sidebar #stayinformed h4.widgettitle {
	padding-top: 65px;
		height: 0;
	text-indent: -9999px;
	background-image: url(images/sidebar_header_stayinformed.png);
}

#sidebar #contactform h4.widgettitle {
	padding-top: 65px;
		height: 0;
	text-indent: -9999px;
	background-image: url(images/sidebar_header_contactus.png);
}

#sidebar #register a.btn {
	text-decoration: none;
	left: 50%;
	margin-left: -67px;
}

#sidebar #sponsors {
	padding-bottom: 40px;
}

#sidebar #sponsors h4.widgettitle {
	padding-top: 71px;
		height: 0;
	text-indent: -9999px;
	background-image: url(images/sidebar_header_sponsors.png);
}

#sidebar #sponsors ul {
	list-style: none;
}

#sidebar #sponsors li img {
	float: left;
	display: inline;
	width: 75px;
	height: auto;
}

#sidebar #sponsors li .title {
	float: left;
	display: inline;
	width: 115px;
	margin: 0 0 0 10px;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	color: #383838;
}

#sidebar #sponsors a.btn {
	bottom: -17px;
}

#footer {
	padding-top: 50px;
	background-image: url(images/bg_html.png);
	background-repeat: repeat;
}

#footer .nav {
	float: left;
	display: inline;
	width: 160px;
	color: #c72039;
	font-style: italic;
}

#footer .nav ul {
	margin-top: 5px;
	list-style: none;
}

#footer .nav ul > li {
	height: 25px;
}

#footer .nav ul > li + li {
	margin-top: 2px;
}

#footer .nav a {
	font-family: Times;
	text-decoration: none;
	color: #c72039;
	font-size: 14px;
	line-height: 14px;
}

#nav_footer.nav {
	width: 200px;
}

#nav_footer.nav a {
	font-family: Quattrocento;
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	color: #616161;
}

#footer_social {
	margin-top: 0;
}

#copyright {
	float: right;
	display: inline;
	clear: right;
	margin-top: 40px;
	font-family: Lato;
	font-size: 12px;
	color: #999;
}

#bco {
	display: block;
	width: 147px;
	height: 22px;
	margin: 50px auto 0;
	padding-top: 22px;
		height: 0;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(images/bco.png);
}




body.archive h2.archivetitle {
	margin-bottom: 40px;
}




body.contact #contact_form ul {
	float: left;
	display: inline;
	width: 100%;
	margin: 0;
}

body.contact #contact_form li {
	position: relative;
	float: left;
	display: inline;
	width: 300px;
	margin: 0 0 15px 0;
}

body.contact #contact_form li:nth-child(even) {
	margin-left: 15px;
}

body.contact #contact_form li:nth-last-child(2),
body.contact #contact_form li:last-child {
	width: 100%;
	margin-left: 0;
}

body.contact #contact_form input[type=text],
body.contact #contact_form input[type=phone],
body.contact #contact_form input[type=email],
body.contact #contact_form textarea {
	float: left;
	display: inline;
	width: 290px;
}

body.contact #contact_form input.error {
	outline: 1px solid red;
}

body.contact #contact_form textarea {
	width: 620px;
	max-width: 620px;
	height: 80px;
}

body.contact #contact_form input[type=submit] {
	float: right;
	border: none;
	background-color: transparent;
}

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}
.bypostauthor {}