#content > div.title {
	margin-bottom: 50px;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	background-image: url(../images/bg_sep.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}

#content > div.title h1 {
	display: inline-block;
	padding: 0 10px;
	background-image: url(../images/bg_body.png);
	background-repeat: repeat;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #FFF;
}

.sponsor {
	float: left;
	display: inline;
	width: 100%:
}

.sponsor + .sponsor {
	margin-top: 30px;
	background-image: url(../images/bg_sep.png);
	background-repeat: repeat-x;
	padding-top: 30px;
}

.sponsor > img.attachment-thumbnail {
	float: left;
	display: inline;
	margin: 0 40px 0 0;
	box-shadow: 2px 2px 5px 0 #666;
}

.sponsor > img.attachment-thumbnail + .alignleft {
	width: 420px;
	margin-top: 10px;
}

.sponsor > .alignleft > h2 {
	margin-bottom: 10px;
}
