body.tax-speaker-cat #content > div.title {
	margin-bottom: 20px;
}

#content > div.title {
	margin-bottom: 50px;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	background-image: url(../images/bg_sep.png);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
}

#content > div.title h1 {
	display: inline-block;
	padding: 0 10px;
	background-image: url(../images/bg_body.png);
	background-repeat: repeat;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #FFF;
}

body.speakers .speaker,
body.tax-speaker-cat .speaker {
	position: relative;
	float: left;
	display: inline;
	width: 147px;
	height: 150px;
	margin: 0 8px 8px 0;
	outline: 1px solid #000;
	background-color: #E0E0E0;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #FFF;
}

body.speakers .speaker > span,
body.tax-speaker-cat .speaker > span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 147px;
	padding: 5px;
		width: 137px;
	background-color: #000;
}

body.single-speaker .speaker > div.title + img.attachment-content {
	margin-top: 20px;
}
